/.idea/jarRepositories.xml
/.idea/workspace.xml
/.idea/compiler.xml
/target/
/.idea/shelf/Uncommitted_changes_before_Checkout_at_13_03_2025_17_52__Changes_.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_13_03_2025_17_52_[Changes]1/shelved.patch
